.App {
  background-color: blue;
  height: 100vh;
  transition: all ease .3s;
}

.App.Header-box {
  padding-top: 40px;
}

.App .ColorPicker-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.App .Quote-wrapper {
  width: 600px;
  text-align: center;
  margin: 40px auto;
}

.App .ListTag-box {
  margin-top: 30px;
  justify-content: center;
}